$background-color: #101010;
   $basic-text-color: #dbdcdc;
   $red: #ff4646;
   $blue: #2970ff;
   $green: #40cd64;
   $yellow: #f3cc30;
   $orange: #e86114;
   $light-gray: #c4c4c5;
   $card-bg: #27292d;
   $links: #ababab;
   $team: #2a2524;

   .friends {
      height: 73%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center ;
      overflow-y: auto;
   }

   .cards {
      height: 70%;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      padding-left: 40px;
   }

   .main {
      width: 100%;
      height: 100%;
      background: $background-color;
      color: $basic-text-color;
      display: flex;

      .messages{
         z-index: 1000;
         position: fixed;
         width: 300px;
         height: 60px;
         bottom: 0;
         right: 40px;
         border-top-left-radius: 30px;
         border-top-right-radius: 30px;
         border-top: 2px solid $card-bg !important;
         border-left: 2px solid $card-bg !important;
         border-right: 2px solid $card-bg !important;
         background: lighten($color: $background-color, $amount: 3);

         .chats {
            height: 350px;
            overflow-y: auto;
            padding: 0;
            margin: 0;
         }

         .chat {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid $card-bg !important;

            img {
               width: 50px;
               height: 50px;
               padding: 0;
               margin: 0;
            }

            .info {
               display: flex;
               align-items: center;
               padding: 0;
               margin: 0;

               h2 {
                  font-size: 1rem;
                  padding: 0;
                  margin: 0;
               }

               p {
                  font-size: 0.8rem;
                  padding: 0;
                  margin: 0;
               }
            }

            .text {
               margin-bottom: 20px;
            }

            &:hover {
               background: $card-bg !important;
               transition: all 0.4s;
               cursor: pointer;
            }
         }

         .options {
            height: 70px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0 10px;

            img {
               width: 20px;
               height: 20px;
               padding: 0;
               margin: 0;
               padding: 5px;
               border-radius: 50%;

               &:hover {
                  background: lighten($color: $orange, $amount: 2);
                  transition: all 0.3s;
                  cursor: pointer;
               }
            }

            button {
               background: $orange !important;
               border: none;
               border-radius: 5px;
               padding: 5px 10px;
               color: $basic-text-color !important;
               font-size: 0.8rem;
               cursor: pointer;
               display: flex;
               align-items: center;
               justify-content: center;
               color: $background-color;
               img {
                  width: 20px;
                  height: 20px;
                  padding: 0;
                  margin: 0;
                  margin-right: 5px;
               }

               &:hover {
                  background:  darken($orange, 10%) !important;
                  transition: all 0.3s;
               }
            }

            p {
               font-size: 0.8rem;
               padding: 0;
               margin: 0;
            }
         }

         .headerM {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0 20px;
            justify-content: space-between;
            border-bottom: 2px solid $card-bg !important;

            img {
               width: 20px;
               height: 20px;
               padding: 0;
               margin: 0;

               &:hover {
                  transition: all 0.3s;
               }
            }
         }

         &:hover {
            transition: all 0.5s;
            height: 400px;

            .arrows {
               transition: all 0.5s;
               rotate: 180deg;
            }
         }
      }
   }

   .header {
      height: 100px;
      border-bottom: 2px solid $card-bg !important;
      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;

      #logo {
         color: $basic-text-color;
         font-size: 1.7rem;
         padding: 0;
         margin: 0;
         display: flex;
         align-items: center;
         padding-left: 30px;
         img {
            width: 50px;
            height: 50px;
            padding: 0;
            margin: 0;
         }
   }
   }

   .spec:hover {
      background: $orange !important;
      transition: all 0.4s;
   }

   .caret:hover {
      rotate: 90deg;
      transition: all 0.2s;
   }

   .router {
      padding: 25px;
      border-bottom: 2px solid $card-bg !important;

      .bar {
         width: 100%;
         height: 10px;
         background: $card-bg;
         border-radius: 5px;

         .percentage {
            width: 70%;
            height: 100%;
            background: $orange;
            border-radius: 5px;
         }
      }

      .special {
         padding-bottom: 10px !important;
      }

      .specBtn {
         background: $orange !important;
         color: $basic-text-color !important;

         &:hover {
            background: darken($orange, 10%) !important;
         }
      }

      .btn {
            background: $team;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            color: $basic-text-color;
            font-size: 1rem;
            margin-top: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            color: $orange;
            border: 1px solid $orange;
            margin-top: 20px;
            img {
               width: 20px;
               height: 20px;
               padding: 0;
               margin: 0;
               margin-right: 10px;
            }

            &:hover {
               background:  $orange;
               transition: all 0.3s;
               color: $background-color;
               color: $basic-text-color;

               img {
                  display: none;
               }

            }
         }

      .selection {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 10px;
         margin-bottom: 10px !important;
         padding: 0;
         margin: 0;

         .fix {
            display: flex;
            align-items: center;

            img {
               width: 20px;
               height: 20px;
               padding: 0;
               margin: 0;
               margin-right: 10px;
            }

            span {
               font-size: 1rem;
               padding: 0;
               margin: 0;
               color: $light-gray
            }
         }


         .notification {
            background: $orange;
            border-radius: 5px;
            padding: 7px 10px;
            margin: 0;
            margin-right: 10px;
            span {
               color: $basic-text-color;
               font-size: 1rem;
               padding: 0;
               margin: 0;
            }
         }

         &:hover {
            .caret {
               rotate: 90deg;
               transition: all 0.2s;
            }
         }
      }

      h4 {
         font-size: 1rem;
         padding: 0;
         margin: 0;
         margin-bottom: 15px;
         font-weight: 400;
         color: $light-gray;

         img {
            margin-right: 10px;
         }
      }

      .route {
         display: flex;
         align-items: center;
         margin-top: 6px;
         background: $card-bg;
         padding: 13px;
         border-radius: 5px;

         img {
            width: 20px;
            height: 20px;
            padding: 0;
            margin: 0;
         }

         span {
            font-size: 1rem;
            padding: 0;
            margin: 0;
            margin-left: 10px;
         }
      }
   }

   .navbar {
      width: 100% !important;

      .nav-links {
         display: flex;
         margin-right: 30px;

         img {
            margin-right: 15px;
         }

         .icon {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: $yellow;
         }
      }

      .first {
         padding-left: 30px !important;
         width: 85% !important;
         height: 100%;
         display: flex;
         align-items: center;

         .input {
            margin-left: 30px;
            width: 62% !important;
            height: 40% !important;
            background: $card-bg !important;
            display: flex;
            align-items: center;
            border-radius: 5px;
            border: 1px solid #303132;

            img {
               width: 20px;
               height: 20px;
               padding: 0;
               margin: 0;
               margin-left: 10px;
            }

            input {
               width: 75%;
               height: 100%;
               background: $card-bg !important;
               border: none;
               color: $basic-text-color;
               padding-left: 10px;
               font-size: 1rem;
               &:focus {
                  outline: none;
               }
            }

            .composed-span {
               display: flex;
               align-items: center;
            }
         }
      }
   }

   .sidebar {
      width: 20%;
      float: left;
      border-right: 2px solid $card-bg !important;
      height: 100%;
      overflow-y: auto;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para una apariencia m치s sutil */
   }

   /* Apunta solo a navegadores basados en WebKit como Chrome, Safari */
.sidebar::-webkit-scrollbar {
  width: 3px; /* Ancho de la barra de desplazamiento */
}

/* Personaliza el track (fondo de la barra de desplazamiento) */
.sidebar::-webkit-scrollbar-track {
   background: $background-color; /* Color del fondo del track */
  border-radius: 5px; /* Esquinas redondeadas opcionales */
  scroll-behavior: smooth;
}

/* Personaliza el thumb (la parte que se desplaza) */
.sidebar::-webkit-scrollbar-thumb {
  background-color: #555; /* Color del thumb */
  border-radius: 5px; /* Redondeo del thumb */
  border: 2px solid $card-bg; /* Opcional: agrega un borde para mejor contraste */
}

/* Cambia el color del thumb al pasar el cursor */
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: $orange; /* Un color m치s claro al hacer hover */
}

.cards::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Personaliza el track (fondo de la barra de desplazamiento) */
.cards::-webkit-scrollbar-track {
  background: $background-color; /* Color del fondo del track */
  border-radius: 5px; /* Esquinas redondeadas opcionales */
  scroll-behavior: smooth;
}

/* Personaliza el thumb (la parte que se desplaza) */
.cards::-webkit-scrollbar-thumb {
  background-color: #555; /* Color del thumb */
  border-radius: 5px; /* Redondeo del thumb */
  border: 2px solid $card-bg; /* Opcional: agrega un borde para mejor contraste */
}

/* Cambia el color del thumb al pasar el cursor */
.cards::-webkit-scrollbar-thumb:hover {
  background-color: $orange; /* Un color m치s claro al hacer hover */
}



.chats::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Personaliza el track (fondo de la barra de desplazamiento) */
.chats::-webkit-scrollbar-track {
   background: lighten($color: $background-color, $amount: 3);/* Color del fondo del track */
  border-radius: 5px; /* Esquinas redondeadas opcionales */
  scroll-behavior: smooth;
}

/* Personaliza el thumb (la parte que se desplaza) */
.chats::-webkit-scrollbar-thumb {
  background-color: #555; /* Color del thumb */
  border-radius: 5px; /* Redondeo del thumb */
  border: 2px solid $card-bg; /* Opcional: agrega un borde para mejor contraste */
}

/* Cambia el color del thumb al pasar el cursor */
.chats::-webkit-scrollbar-thumb:hover {
  background-color: $orange; /* Un color m치s claro al hacer hover */
}

   .content {
      width: 80%;
      float: right;
      height: 100%;
   }

   .clickable {
      cursor: pointer;
   }

   .setti:hover {
      rotate: 365deg;
      transition: all 0.5s;
   }
